<h1>Search Results</h1>
<% if !@errors %>
  <p>Total results: <%= @total_results %></p>
  <div class="results">
    <% @search_results.each do |result| %>
      <div class="result-item">
        <% case result['media_type'] %>
        <%  when 'movie' %>
          <div class = "profile-image">
              <% if result['poster_path'] %>
                <%= link_to image_tag("https://image.tmdb.org/t/p/w200/#{result['poster_path']}", :alt => "Image of #{result['original_name']}"), root_url + 'movie/show?' + {movie_id: result['id']}.to_param, method: :get  %>
              <% else %>
                <%= link_to image_tag("image-not-available.jpg", :alt => "Image not available."), root_url + 'movie/show?' + {movie_id: result['id']}.to_param, method: :get  %>
                <div class="bottom-left">
                  <%= "#{result['original_name']}" %>
                </div>
              <% end %>
          </div>
        <%  when 'tv' %>
          <div class = "profile-image">
              <% if result['poster_path'] %>
                <%= link_to image_tag("https://image.tmdb.org/t/p/w200/#{result['poster_path']}", :alt => "Image of #{result['original_name']}"), root_url + 'tv/show?' + {tv_id: result['id']}.to_param, method: :get   %>
              <% else %>
                <%= link_to image_tag("image-not-available.jpg", :alt => "Image not available."), root_url + 'tv/show?' + {tv_id: result['id']}.to_param, method: :get   %>
                <div class="bottom-left">
                  <%= "#{result['original_name']}" %>
                </div>
              <% end %>
          </div>
        <%  when 'person' %>
            <div class = "profile-image">
              <% if result['profile_path'] %>
                <%= link_to image_tag("https://image.tmdb.org/t/p/w200/#{result['profile_path']}", :alt => "Image of #{result['name']}") , root_url + 'person/show?' + {person_id: result['id']}.to_param, method: :get %>
              <% else %>
                <%= link_to image_tag("image-not-available.jpg", :alt => "Image not available."), root_url + 'person/show?' + {person_id: result['id']}.to_param, method: :get %>
              <% end %>
            <div class="bottom-left">
              <%= "#{result['name']}" %>
            </div>
          </div>
        <% end %>

      </div>
    <% end %>
  </div>
  <div class="pagination">
    <% 1.upto(@total_pages) do |x| %>
      <% if x === @page %>
      <span class="current"><%= "#{x}" %></span>
      <% else %>
      <%= link_to "#{x}", root_url + 'search/index?'+ {query: @search_query, page: x}.to_param, method: :get  %>
      <% end %>
    <% end %>
  </div>
<% else %>
  <h2>Ooops, something went terribly wrong!</h2>
  <% @errors.each do |error| %>
    <p><%= error %> </p>
  <% end %>
<% end %>
