<!DOCTYPE html>
<html>
<head>
  <title>MovieTime</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <%= form_tag(search_index_path method: :post) do %>
    Search <%= text_field_tag :query, params[:query] %>
    <%= submit_tag 'Search' %>
  <% end %>
<%= yield %>

</body>
</html>
